extends ../../layouts/master
block content
  h3 Apartment Spotlight
  
  #controls
    form(method='post', action='/apartments/#{apartment._id}/delete')
      button.btn.btn-danger(type='submit') Delete Apartment
    a.btn.btn-info(href='/apartments/#{apartment._id}/edit') Edit Apartment
    
    if(apartment.roomsNum - apartment.tenants)
      h3 Rent Apartment
      form(method='post', action='/apartments/#{apartment._id}/rent')
        .form-group
          select(name='clientId')
          each client in clients
            option(value=client._id)= client.name 
        .form-group
            button(type='submit') Rent!
      
  #apartments
    .container-fluid
      .row
        .col-xs-4.apartment
          .page-header= apartment.name
          .image(style='background-repeat: no-repeat; background-size: cover; height: 300px; background-image:url(' + apartment.image + ')') 
        .col-xs-7.info
          .page-header Info
          .info  
            ul.list-unstyled
              li.roomsNum= apartment.roomsNum + ' Rooms'
              li.tenants= apartment.tenants + ' tenants'
              li.sqft= apartment.sqft + ' sqft.'
              li.rent= apartment.rent
              li.description= apartment.description
  
